<div class="row">
  <div class="col-md-12">
    <div class="white-box">

    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">

    <div class="white-box">
      <h3 class="box-title">Pavillon A</h3>

      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Nom</th>
              <th>Prénom(s)</th>
              <th>Niveau </th>
              <th>Chambre</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>NGOM</td>
              <td>Abibatou</td>
              <td>DIC2 TR</td>
              <td>68</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Fall</td>
              <td>Moussa</td>
              <td>DIC2 TR</td>
              <td>42</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Dipo</td>
              <td>Ousmane</td>
              <td>DUT2 INF</td>
              <td>50</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>
</div>

<div class="row">
    <div class="col-sm-12">
  
      <div class="white-box">
        <h3 class="box-title">Pavillon B</h3>
  
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Prénom(s)</th>
                <th>Niveau </th>
                <th>Chambre</th>  
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Guiro</td>
                <td>Kadidia</td>
                <td>DIC2TR</td>
                <td>24</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Ndiaye</td>
                <td>Bassine</td>
                <td>DIC2 TR</td>
                <td>68</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Gaye</td>
                <td>Alimah</td>
                <td>DIC2 TR</td>
                <td>57</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Gassama</td>
                <td>stou</td>
                <td>DIC2 TR</td>
                <td>10</td>
              </tr>
              <tr>
                <td></td>
                <td>Faye</td>
                <td>Khady</td>
                <td>DIC3 ELEC</td>
                <td>68</td>
              </tr>
            </tbody>
          </table>
        </div>
  
      </div>
  
    </div>
  </div>

  <div class="row">
      <div class="col-sm-12">
    
        <div class="white-box">
          <h3 class="box-title">Pavillon C</h3>
    
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nom</th>
                  <th>Prénom(s)</th>
                  <th>Niveau </th>
                  <th>Chambre</th>    
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>NDIAYE</td>
                  <td>Assane</td>
                  <td>DIC2 TR</td>
                  <td>37</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Faye</td>
                  <td>Abdoulaye</td>
                  <td>DIC2 INF</td>
                  <td>37</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Tall</td>
                  <td>Dielany</td>
                  <td>DIC3 INF</td>
                  <td>64</td>
                </tr>

              </tbody>
            </table>
          </div>
    
        </div>
    
      </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
      
          <div class="white-box">
            <h3 class="box-title">Pavillon F</h3>
      
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Prénom(s)</th>
                    <th>Niveau </th>
                    <th>Chambre</th>      
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Ndiaye</td>
                    <td>Amadou Kane</td>
                    <td>DIC2 TR</td>
                    <td>13</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>NDIAYE</td>
                    <td>Issa</td>
                    <td>DUT2 GCBA</td>
                    <td>4</td>
                  </tr>
  
                </tbody>
              </table>
            </div>
      
          </div>
      
        </div>
      </div>
      

  