<div class="row">
  <div class="col-sm-12">
    <div class="white-box">
      <h3 class="box-title">Gestion du campus</h3>

      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Nom</th>
              <th>Prénoms</th>
              <th>Niveau</th>
              <th>Chambre Réservée</th>
              <th>Pavillon</th>
              <th>Etat Réservation</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Lo</td>
              <td>Mamadou</td>
              <td>DUT1 GC</td>
              <td>72</td>
              <td>C</td>
              <td>Réservé</td>         
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>